@model Core.DTO.EmailDTO.ConfirmationEmailDTO

<!DOCTYPE html>
<html>
    <head></head>
    <body style="padding: 30px; background-color: #093545; color: white; text-align: center">
        <h2 style="margin-bottom: 50px">LOGISTMAN</h2>
        
        <p style="font-size: large">Dear <span style="font-style: italic; font-weight: 900">@Model.Name @Model.Surname</span>,</p>
    
        <p>You've received this message because your email address has been registered with Logistman. Verify yourself and confirm your email by clicking below.
            <br />
            <br />
        </p>

        <button style="background-color: white">
            <a href=@Model.Link style="text-decoration: none; color: black; font-style: italic; font-weight: 900">Confirm email</a>
        </button>

        <p style="font-size: 10px;">
            <br />
            If it wasn't you submitted your email address in the first place, well then that's messed up and we're sorry. Simply ignore this email don't click above. You will not receive any emails from us.
        </p>
    </body>
</html>
