@model Core.DTO.EmailDTO.ConfirmationEmailDTO

<!DOCTYPE html>
<html>
<head>
</head>
<body style="padding: 30px; background-color: #093545; color: white; text-align: center">
<h2 style="margin-bottom: 50px">LOGIST</h2>
    
<p style="font-size: large">Dear <span style="font-style: italic; font-weight: 900">@Model.Name @Model.Surname</span>,</p>

<p>
    This is a email confirmation letter on the Logist website, if you have not done it so ignore the letter.

    <br /> 

    <br />
    If it is correct press buttom in the bottom. <br />
    Good day!
</p>

<br />

<button style="background-color: white">
    <a href=@Model.Link style="text-decoration: none; color: black; font-style: italic; font-weight: 900">Confirm email</a>
</button>
</body>
</html>
